:root {
    --bg-clr: hsl(0, 0%, 100%);
    --head-txt-clr: hsl(300, 43%, 22%);
    --sub-txt-clr: hsl(303, 10%, 53%);

    // rating
    --rating-card-clr: hsl(300, 24%, 96%);
    --rating-txt-clr: hsl(300, 43%, 22%);

    // testimonials clr
    --testimonial-card-clr: hsl(300, 43%, 22%);
    --testimonial-txt-clr: hsl(0, 0%, 100%);
    --testimonial-span-clr: hsl(333, 80%, 67%);

    // links
    --link-clr: hsl(333, 80%, 67%);
    --link-txt-clr: hsl(300, 43%, 22%);
    --link-after-clr: hsl(300, 43%, 22%);
}